<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <style>
        body {
        font-family: "Nunito", serif;
        }
    </style>
    <title>Edge Learning | CMU & Brainchip</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h1 class="mt-5"><b>Edge Learning</b></h1>
            <h3 class="mt-2">Using Brainchip's Akida SoC, Demo'd by CMU</h3>
            <p class="mt-2">18743 :: Neuromorphic Computer Architecture & Processor Design (Team 10)</p>
            <br>
            <img src="{{ url_for('video_feed') }}" width="100%">
        </div>
    </div>
</div>
<br>
<center>
<form action="{{ url_for("index")}}" method="post">
    <label for="class">Learn Class:</label>
    <input type="text" id="class" name="cname" placeholder="item1">
    <button type="submit">Add</button>
</form>
</center>
</body>